h1 {
  text-align: center;
}

.linksimages {
  text-align: center;
}

.linksimages a {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 10px;
  background-color: lightgray;
  padding: 5px;
}