h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.linksimages {
  text-align: center;
}

p {
  text-align: center;
}

.linksimages a {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.availablepets {
  display: flex;
  justify-content: space-around;
}

.availablecats, .availabledogs {
  flex-direction: row;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .paperwork {
    width: 400px;
    height: 250px;
  }
}