.nextUpPets {
    display: flex;
    justify-content: space-around;
}

.cats, .dogs {
    flex-direction: row;
}

p {
  text-align: center;
}

.yourPet {
  text-align: center;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .yourPet {
      width: 400px;
      height: 250px;
  }
}