.nextUpPets {
  display: flex;
  justify-content: space-around;
}

.cats, .dogs {
  flex-direction: row;
}

.submit {
  padding: 10px;
  font-size: 15px;
}

.adoption {
  text-align: center;
}

.adoption a {
  text-align: center;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}