h1 {
  background-color: #fff;
  text-align: center;
}

.links a {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #424C4D;
  font-size: 25px;
  font: bold;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #9bc0c5;
  padding: 15px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}